*{
margin: 0%;
padding: 0%;

}
body{

    background-color:  #3a3d47;
}
.container{
     width: 1200px;
     background-color: white;
     margin: 10px auto;
}
.superior{
background-color: #1551a1;
overflow: hidden;
}
.logo{
    float: left;
    width: 300px;
} 
.menu{
    float: left;
}
.opciones ol{

    float: right;
    list-style: none;
}
.cua li{
text-decoration-color: black;

    margin: 20px;
    padding: 0;
    background-color: #7c98bd;
    
}

.opciones ol a{
    color: white; 
    padding: 100px;
}

.opciones li{

    float: left;
    list-style: none;
}

.opciones li a{
    color: white; 
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;
}
/*cuerpo    */
.cuerpo1{
    overflow: hidden;
}
.caja{
float: left;
width: 600px;
padding: 0px;

}

/*cuerpo2   */
.cuerpo2{
    overflow: hidden;
    
}
.caja2{
float: left;
width: 300px;


}
/*cuerpo3  */
.cuerpo3{
    overflow: hidden;
}
.caja3{
float: left;
width: 300px;


}
